# env loader and basic utils
python-dotenv==1.1.1
pandas==2.3.3
numpy==2.3.4
matplotlib==3.10.7
seaborn==0.13.2
ipykernel==7.0.1
jupyter==1.1.1

# image utils
pillow==11.3.0

# langchain
langchain==1.0.1
langchain-google-genai==3.0.0
langchain-experimental==0.0.42
langchain-openai==1.0.0

# deployment
streamlit==1.50.0